<!DOCTYPE html>

<html lang="en">
<head>
    <title>Beego</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app="snaphy-cloud" ng-cloak ng-controller="mainCtrl">
    <div class="container-fluid">
        <div ui-view>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script  src="/static/bower_components/angular/angular.min.js"></script>
    <script  src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
   <!-- <script  src="/static/bower_components/angular-resource/angular-resource.min.js"></script>-->

    <!--Angular script file-->
    <script  src="/static/js/app.js"></script>
    <script  src="/static/js/routes/main.js"></script>
    <script src="/static/js/controller/loginCtrl.js"></script>
    <script src="/static/js/controller/mainCtrl.js"></script>
</body>
</html>
